<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuanhao.helloworlddemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bt_pic"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yuanhao.helloworlddemo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       
        <activity 
        android:name=".DateTimePickerActivity"  
        android:label="添加记录" >  
        <meta-data  
            android:name="android.support.PARENT_ACTIVITY"  
            android:value="com.yuanhao.helloworlddemo.MainActivity" />  
        </activity> 
        
    </application>

</manifest>
